In [90]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as plt

In [91]:
datos=pd.read_csv('data/codon_usage.csv')
df=pd.DataFrame(datos)

C:\Users\matia\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [92]:
df.head()

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,100217,1995,Epizootic haematopoietic necrosis virus,0.01654,0.01203,0.00050,0.00351,0.01203,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,100220,1474,Bohle iridovirus,0.02714,0.01357,0.00068,0.00678,0.00407,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,100755,4862,Sweet potato leaf curl virus,0.01974,0.0218,0.01357,0.01543,0.00782,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,100880,1915,Northern cereal mosaic virus,0.01775,0.02245,0.01619,0.00992,0.01567,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,100887,22831,Soil-borne cereal mosaic virus,0.02816,0.01371,0.00767,0.03679,0.01380,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

In [101]:
##comprobamos si tenemos NaN en nuestro conjunto de datos
df.isnull().values.any()

False

In [77]:
df.dtypes

Kingdom         object
DNAtype          int64
SpeciesID        int64
Ncodons          int64
SpeciesName     object
                ...
GAA            float64
GAG            float64
UAA            float64
UAG            float64
UGA            float64
Length: 69, dtype: object

In [78]:
variables_categoricas=[]
variables_categoricas

[]

In [81]:
df.describe()

,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,AUA,AUG,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
count,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,...,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000
mean,0.020637,0.014104,0.017820,0.018288,0.019044,0.018450,0.028352,0.025041,0.018294,0.021135,...,0.005454,0.009929,0.006422,0.024178,0.021164,0.028290,0.021683,0.001645,0.000592,0.006178
std,0.020709,0.009280,0.010586,0.014572,0.024250,0.016578,0.017507,0.014600,0.016044,0.008163,...,0.006605,0.008574,0.006387,0.013828,0.013041,0.014342,0.015018,0.001834,0.000907,0.010344
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.005610,0.007108,0.010890,0.007830,0.005307,0.007180,0.016360,0.015130,0.006320,0.015787,...,0.001220,0.001690,0.001170,0.012380,0.011860,0.017360,0.009710,0.000560,0.000000,0.000410
50%,0.015260,0.013360,0.016130,0.014560,0.009685,0.012800,0.025475,0.021540,0.014140,0.022000,...,0.003530,0.009270,0.004545,0.025420,0.019070,0.026085,0.020540,0.001380,0.000420,0.001130
75%,0.029485,0.019810,0.022730,0.025112,0.017245,0.024315,0.038113,0.031860,0.025970,0.026260,...,0.007150,0.015922,0.010250,0.034190,0.027690,0.036800,0.031122,0.002370,0.000830,0.002890
max,0.151330,0.101190,0.089780,0.100350,0.163920,0.107370,0.154060,0.088600,0.134400,0.101690,...,0.055540,0.098830,0.058430,0.185660,0.113840,0.144890,0.158550,0.045200,0.025610,0.106700

In [79]:
df.drop(['Kingdom','DNAtype','SpeciesID','Ncodons','SpeciesName'],axis=1,inplace= True)

In [46]:
##promedio de cada lista de codones##
df.mean()

UUA    0.020637
UUG    0.014104
CUU    0.017820
CUC    0.018288
CUA    0.019044
         ...
GAA    0.028290
GAG    0.021683
UAA    0.001645
UAG    0.000592
UGA    0.006178
Length: 62, dtype: float64

In [51]:

df.sum(axis=1)

0        0.97146
1        0.95928
2        0.95843
3        0.95982
4        0.95810
          ...
13023    0.93890
13024    0.95548
13025    0.95260
13026    0.96214
13027    0.94498
Length: 13028, dtype: float64

In [47]:
df.shape

(13028, 64)